.login-page {
  width: 400px;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
.login-page .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.login-page .input-group label {
  font-size: 25px;
}
.login-page .input-group input {
  margin-left: 20px;
  border: none;
  outline: none;
  height: 40px;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
}
.login-page input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: blue;
  color: white;
  width: 100px;
}
